{
  "extends": ["eslint:recommended", "plugin:node/recommended", "prettier"],
  "env": {
    "es6": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "rules": {
    "block-scoped-var": "error",
    "comma-style": ["warn", "last"],
    "no-dupe-keys": "error",
    "no-duplicate-case": "error",
    "no-unexpected-multiline": "warn",
    "no-var": "error",
    "no-console": "warn"
  },
  "plugins": ["prettier"],
  "overrides": [
    {
      "files": ["src/server.js"],
      "rules": {
        "no-console": "off"
      }
    }
  ]
}
